.button {
    display: block;
    text-decoration: none;
    color: white;
    border: none;
}

    .button--normal {
        background: $red;
        height: 44px;
        line-height: 44px;
        border-radius: 5px;
    }

    .button--big {
        background: $red;
        height: 50px;
        line-height: 30px;
        max-width: 100px;
        display: inline-block;
        margin-left: 3px;
        padding: 10px;
        vertical-align: middle;
        @include font-size(16px);

        @media only screen and (max-width: 425px) {
            width: 100%;
            max-width: 100%;
            margin: 0;
        }
    }
