.search {
    margin: 30px;
}

    .search__input {
        padding: 10px;
        width: 100%;
        max-width: 400px;
        height: 50px;
        @include font-size(16px);
    }

    .search__result {
        margin: 30px;
        text-align: left;
    }

    .search__result--header {
        @include font-size(32px);
        font-weight: $font-weight-bold;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dadada;
    }

    .search__result--desc {
        @include font-size(18px);
        line-height: 25px;
    }

    .search__result--error {
        color: #d9534f;
    }

    .search__result--noword {
        font-weight: $font-weight-bold;
        word-wrap: break-word;
    }